Repository tuist/tuist, pull requests merged in 2021-03, with the labels that each got.

#2548 Project Plugins: tuist edit support
  .gitignore
  Sources/TuistCore/Utils/RootDirectoryLocator.swift
  Sources/TuistCoreTesting/Graph/WorkspaceWithProjects+TestData.swift
  Sources/TuistCoreTesting/Mappers/MockWorkspaceMapper.swift
  Sources/TuistKit/ProjectEditor/ProjectEditor.swift
  Sources/TuistKit/ProjectEditor/ProjectEditorMapper.swift
  Sources/TuistLoader/Loaders/ManifestLoader.swift
  Sources/TuistLoader/ProjectDEscriptionHelpers/ProjectDescriptionHelpersHasher.swift
  Sources/TuistLoader/Utils/ManifestFilesLocator.swift
  Sources/TuistLoaderTesting/Utils/Mocks/MockManifestFilesLocator.swift
  Sources/TuistPlugin/PluginService.swift
  Sources/TuistPlugin/PluginServicing.swift
  Sources/TuistSupport/Constants.swift
  Tests/Fixtures/Frameworks/Frameworks.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Tests/Fixtures/Frameworks/Frameworks.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Tests/TuistCoreIntegrationTests/RootDirectoryLocatorIntegrationTests.swift
  Tests/TuistKitTests/ProjectEditor/Mocks/MockProjectEditorMapper.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorMapperTests.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorTests.swift
  Tests/TuistLoaderTests/Utils/ManifestFileLocatorTests.swift
  Tests/TuistPluginTests/PluginServiceTests.swift
  features/edit.feature
  fixtures/ios_app_with_coredata_in_static_framework/Framework/Derived/InfoPlists/Framework.plist
  fixtures/ios_app_with_coredata_in_static_framework/Framework/Derived/InfoPlists/FrameworkResources.plist
  fixtures/ios_app_with_coredata_in_static_framework/Framework/Derived/Sources/Bundle+Framework.swift
  fixtures/ios_app_with_extensions/Derived/InfoPlists/MessageExtension.plist
  fixtures/ios_app_with_extensions/Derived/InfoPlists/NotificationServiceExtension.plist
  fixtures/ios_app_with_extensions/Derived/InfoPlists/StickersPackExtension.plist
  fixtures/ios_app_with_extensions/Derived/InfoPlists/WidgetExtension.plist
  fixtures/ios_app_with_extensions/Derived/Sources/Bundle+MessageExtension.swift
  fixtures/ios_app_with_extensions/Derived/Sources/Bundle+WidgetExtension.swift
  fixtures/ios_app_with_helpers/Tuist/Dependencies.swift
  fixtures/ios_app_with_sdk/Derived/InfoPlists/MyTestFramework.plist
  fixtures/ios_app_with_transitive_framework/StaticFramework1/Derived/InfoPlists/StaticFramework1.plist
  fixtures/ios_app_with_transitive_framework/StaticFramework1/Derived/InfoPlists/StaticFramework1Tests.plist
  fixtures/plugin/Plugin.swift
  fixtures/plugin/ProjectDescriptionHelpers/Helper.swift
Labels: domain:plugin

#2612 Fix incorrect detection of current Core Data model version
  CHANGELOG.md
  Sources/TuistSupport/CoreDataVersionExtractor.swift
  Sources/TuistSupport/Extensions/String+Extras.swift
  features/generate-6.feature
  fixtures/ios_app_with_coredata/CoreData/UsersAutoDetect.xcdatamodeld/.xccurrentversion
  fixtures/ios_app_with_coredata/CoreData/UsersAutoDetect.xcdatamodeld/1.xcdatamodel/contents
  fixtures/ios_app_with_coredata/CoreData/UsersAutoDetect.xcdatamodeld/2.5.xcdatamodel/contents
  fixtures/ios_app_with_coredata/CoreData/UsersAutoDetect.xcdatamodeld/2.xcdatamodel/contents
  fixtures/ios_app_with_coredata/Project.swift
Labels: type:bug

#2616 Scheme location simulation
  CHANGELOG.md
  Sources/ProjectDescription/RunActionOptions.swift
  Sources/TuistGenerator/Generator/ProjectFileElements.swift
  Sources/TuistGenerator/Generator/SchemeDescriptorsGenerator.swift
  Sources/TuistGraph/Models/RunActionOptions.swift
  Sources/TuistLoader/Models+ManifestMappers/RunActionOptions+ManifestMapper.swift
  Tests/TuistGeneratorTests/Generator/SchemeDescriptorsGeneratorTests.swift
  fixtures/ios_app_with_custom_scheme/App/Project.swift
  fixtures/ios_app_with_custom_scheme/App/Resources/Grand Canyon.gpx
  website/markdown/docs/usage/project-description.mdx
Labels: domain:generation, schemes

#2608 Support for `--no-use-binaries` Carthage flag.
  CHANGELOG.md
  Sources/ProjectDescription/Dependencies/CarthageDependencies.swift
  Sources/ProjectDescription/Up/Up.swift
  Sources/ProjectDescription/Up/UpCarthage.swift
  Sources/TuistDependencies/Carthage/CarthageInteractor.swift
  Sources/TuistDependencies/Carthage/Generators/CarthageCommandGenerator.swift
  Sources/TuistDependenciesTesting/Carthage/MockCarthageCommandGenerator.swift
  Sources/TuistGraph/Models/CarthageDependencies.swift
  Sources/TuistLoader/Models+ManifestMappers/CarthageDependencies+ManifestMapper.swift
  Sources/TuistLoader/Up/Carthage.swift
  Sources/TuistLoader/Up/UpCarthage.swift
  Tests/ProjectDescriptionTests/Dependencies/CarthageDependenciesTests.swift
  Tests/ProjectDescriptionTests/Dependencies/DependenciesTests.swift
  Tests/ProjectDescriptionTests/Up/UpCarthageTests.swift
  Tests/TuistDependenciesTests/Carthage/CarthageInteractorTests.swift
  Tests/TuistDependenciesTests/Carthage/Generators/CarthageCommandGeneratorTests.swift
  Tests/TuistDependenciesTests/DependenciesControllerTests.swift
  Tests/TuistGraphTests/Models/CarthageDependenciesTests.swift
  Tests/TuistKitTests/Services/Dependencies/DependenciesFetchServiceTests.swift
  Tests/TuistKitTests/Services/Dependencies/DependenciesUpdateServiceTests.swift
  Tests/TuistLoaderTests/Loaders/DependenciesModelLoaderTests.swift
  Tests/TuistLoaderTests/Models+ManifestMappers/DependenciesManifestMapperTests.swift
  Tests/TuistLoaderTests/Up/CarthageTests.swift
  Tests/TuistLoaderTests/Up/Mocks/MockCarthage.swift
  Tests/TuistLoaderTests/Up/UpCarthageTests.swift
  Tests/TuistLoaderTests/Up/UpTests.swift
  fixtures/app_with_framework_and_tests_and_dependencies/Tuist/Dependencies.swift
  fixtures/ios_app_with_setup/Setup.swift
  website/markdown/docs/commands/up.mdx
  website/markdown/docs/dependencies/dependencies.mdx
Labels: domain:chimera

#2642 Plugins: Finalize support for tuist edit
  .github/workflows/tuist.yml
  CHANGELOG.md
  Package.swift
  Sources/TuistGraph/Models/ProjectDescriptionHelpersPlugin.swift
  Sources/TuistGraphTesting/Models/Plugins+TestData.swift
  Sources/TuistKit/ProjectEditor/EditablePluginManifest.swift
  Sources/TuistKit/ProjectEditor/ProjectEditor.swift
  Sources/TuistKit/ProjectEditor/ProjectEditorMapper.swift
  Sources/TuistKit/Services/EditService.swift
  Sources/TuistLoader/Loaders/ManifestLoader.swift
  Sources/TuistLoader/ProjectDescriptionHelpers/ProjectDescriptionHelpersBuilder.swift
  Sources/TuistLoader/ProjectDescriptionHelpers/ProjectDescriptionHelpersHasher.swift
  Sources/TuistLoader/Utils/ProjectDescriptionPaths.swift
  Sources/TuistLoaderTesting/ProjectDescriptionHelpers/MockProjectDescriptionHelpersBuilder.swift
  Sources/TuistPlugin/PluginService.swift
  Sources/TuistPluginTesting/MockPluginService.swift
  Sources/TuistSupport/Utils/GitHandler.swift
  Sources/TuistSupportTesting/Utils/MockSystem.swift
  Tests/TuistKitTests/ProjectEditor/Mocks/MockProjectEditorMapper.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorMapperTests.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorTests.swift
  Tests/TuistLoaderIntegrationTests/ProjectDescriptionHelpers/ProjectDescriptionHelpersBuilderIntegrationTests.swift
  Tests/TuistPluginTests/PluginServiceTests.swift
  features/edit.feature
  features/plugins.feature
  features/step_definitions/shared/tuist.rb
  fixtures/app_with_plugin/Tuist/Config.swift
  fixtures/app_with_plugins/LocalPlugin/Plugin.swift
  fixtures/app_with_plugins/LocalPlugin/ProjectDescriptionHelpers/LocalHelper.swift
  fixtures/app_with_plugins/Project.swift
  fixtures/app_with_plugins/Source/AppDelegate.swift
  fixtures/app_with_plugins/Source/TestView.swift
  fixtures/app_with_plugins/Tuist/Config.swift
  fixtures/app_with_plugins/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
  fixtures/ios_app_with_helpers/Tuist/Dependencies.swift
  fixtures/plugin/ProjectDescriptionHelpers/Helper.swift
Labels: domain:plugin

#2656 Chimera/spm fetch dependencies
  Sources/TuistDependencies/Carthage/CarthageInteractor.swift
  Sources/TuistDependencies/DependenciesController.swift
  Sources/TuistDependencies/SwiftPackageManager/SPMInteractor.swift
  Sources/TuistDependencies/SwiftPackageManager/SwiftPackageManagerInteractor.swift
  Sources/TuistDependenciesTesting/Carthage/MockCarthageInteractor.swift
  Sources/TuistDependenciesTesting/SwiftPackageManager/MockSwiftPackageManagerInteractor.swift
  Sources/TuistGraph/Models/CarthageDependencies.swift
  Sources/TuistGraph/Models/SwiftPackageManagerDependencies.swift
  Sources/TuistKit/Commands/DependenciesCommand.swift
  Sources/TuistKit/Services/Dependencies/DependenciesFetchService.swift
  Sources/TuistSupport/Constants.swift
  Tests/TuistDependenciesTests/Carthage/CarthageInteractorTests.swift
  Tests/TuistDependenciesTests/DependenciesControllerTests.swift
  Tests/TuistDependenciesTests/SwiftPackageManager/SwiftPackageManagerInteractorTests.swift
  Tests/TuistGraphTests/Models/SwiftPackageManagerDependenciesTests.swift
  Tests/TuistKitTests/Services/Dependencies/DependenciesFetchServiceTests.swift
  Tests/TuistKitTests/Services/Dependencies/DependenciesUpdateServiceTests.swift
  features/dependencies.feature
  fixtures/app_with_framework_and_tests_and_dependencies/Tuist/Dependencies.swift
Labels: domain:chimera

#2687 Plugins: Add support for templates
  CHANGELOG.md
  Package.swift
  Sources/TuistGraph/Models/Plugins.swift
  Sources/TuistGraphTesting/Models/Plugins+TestData.swift
  Sources/TuistKit/Commands/ScaffoldCommand.swift
  Sources/TuistKit/ProjectEditor/ProjectEditorMapper.swift
  Sources/TuistKit/Services/ScaffoldService.swift
  Sources/TuistLoader/Models+ManifestMappers/Plugin+ManifestMapper.swift
  Sources/TuistPlugin/PluginService.swift
  Sources/TuistScaffold/TemplatesDirectoryLocator.swift
  Sources/TuistScaffoldTesting/Utils/Mocks/MockTemplatesDirectoryLocator.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorMapperTests.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorTests.swift
  Tests/TuistKitTests/Services/ScaffoldServiceTests.swift
  Tests/TuistPluginTests/PluginServiceTests.swift
  features/scaffold.feature
  fixtures/app_with_plugins/LocalPlugin/Templates/custom/Template.swift
  fixtures/app_with_plugins/LocalPlugin/Templates/custom/platform.stencil
  fixtures/app_with_plugins/Tuist/Config.swift
  projects/website/markdown/docs/plugins/creating-plugins.mdx
Labels: domain:plugin

#2688 Support for Up.precondition()
  CHANGELOG.md
  Sources/ProjectDescription/Setup.swift
  Sources/ProjectDescription/Up/UpEnvironmentEquals.swift
  Sources/ProjectDescription/Up/UpEnvironmentExists.swift
  Sources/ProjectDescription/Up/UpPrecondition.swift
  Sources/ProjectDescription/Up/UpRequired.swift
  Sources/TuistLoader/Loaders/CachedManifestLoader.swift
  Sources/TuistLoader/Loaders/ManifestLoader.swift
  Sources/TuistLoader/Loaders/SetupLoader.swift
  Sources/TuistLoader/Up/SetupActions.swift
  Sources/TuistLoader/Up/UpEnvironmentEquals.swift
  Sources/TuistLoader/Up/UpEnvironmentExists.swift
  Sources/TuistLoader/Up/UpPrecondition.swift
  Sources/TuistLoader/Up/UpRequired.swift
  Sources/TuistLoaderTesting/Loaders/Mocks/MockManifestLoader.swift
  Tests/TuistLoaderIntegrationTests/Loaders/ManifestLoaderIntegrationTests.swift
  Tests/TuistLoaderTests/Loaders/SetupLoaderTests.swift
  Tests/TuistLoaderTests/Up/Mocks/MockUpRequired.swift
  Tests/TuistLoaderTests/Up/UpRequiredTests.swift
  projects/website/markdown/docs/commands/up.mdx
Labels: domain:tuist-up
