Repository tuist/tuist, pull requests merged in 2021-09, with the labels that each got.

#3381 chore: remove deprecated methods
  Sources/ProjectDescription/Arguments.swift
  Sources/ProjectDescription/Environment.swift
  Sources/ProjectDescription/Target.swift
  Sources/ProjectDescription/TargetDependency.swift
  Sources/ProjectDescription/Template/Template.swift
  Sources/TuistGraph/Models/Template.swift
  Sources/TuistSupport/Vendored/HTTPStatusCodes/HTTPStatusCode+Extensions.swift
  Templates/default/default.swift
  Templates/swiftui/swiftui.swift
  Tests/ProjectDescriptionTests/TargetDependencyTests.swift
  projects/docs/docs/commands/scaffold.md
  projects/tuist/fixtures/app_with_plugins/LocalPlugin/Templates/custom/custom.swift
  projects/tuist/fixtures/ios_app_with_templates/Tuist/Templates/custom/custom.swift
  projects/tuist/fixtures/ios_app_with_templates/Tuist/Templates/custom_using_copy_folder/custom_using_copy_folder.swift
  projects/tuist/fixtures/ios_app_with_templates/Tuist/Templates/custom_using_filters/custom_using_filters.swift
  projects/tuist/fixtures/ios_app_with_xcframeworks/Project.swift
Labels: tuist-2.0

#3370 [Plugins] Fix manifest caching logic
  CHANGELOG.md
  Sources/TuistLoader/Loaders/CachedManifestLoader.swift
  Tests/TuistLoaderTests/Loaders/CachedManifestLoaderTests.swift
Labels: type:bug, domain:plugin

#3418 📦[Dependencies] Improve SwiftPackageManager resolution performances by executing resolve directly in the `Tuist/Dependencies` folder
  CHANGELOG.md
  Sources/TuistDependencies/Carthage/CarthageInteractor.swift
  Sources/TuistDependencies/Carthage/Utils/CarthageGraphGenerator.swift
  Sources/TuistDependencies/SwiftPackageManager/SwiftPackageManagerInteractor.swift
  Sources/TuistGraph/Models/Dependencies/SwiftPackageManagerDependencies.swift
  Sources/TuistKit/Commands/Dependencies/DependenciesCleanCommand.swift
  Sources/TuistKit/Commands/DependenciesCommand.swift
  Sources/TuistKit/Services/Dependencies/DependenciesCleanService.swift
  Sources/TuistLoader/Up/Carthage.swift
  Sources/TuistSupport/Constants.swift
  Tests/TuistDependenciesTests/Carthage/CarthageInteractorTests.swift
  Tests/TuistDependenciesTests/Carthage/Utils/CarthageGraphGeneratorTests.swift
  Tests/TuistDependenciesTests/SwiftPackageManager/SwiftPackageManagerInteractorTests.swift
  Tests/TuistGraphTests/Models/Dependencies/SwiftPackageManagerDependenciesTests.swift
  Tests/TuistKitTests/Services/Dependencies/DependenciesCleanServiceTests.swift
  projects/docs/docs/commands/dependencies.md
  projects/docs/docs/guides/third-party-dependencies.md
  projects/tuist/fixtures/Package.swift
Labels: domain:dependencies-swift
