Repository tuist/tuist, pull requests merged in 2021-06, with the labels that each got.

#3013 Tasks plugin
  .github/workflows/tuist.yml
  CHANGELOG.md
  Sources/ProjectAutomation/Task.swift
  Sources/TuistGraph/Models/PluginTasks.swift
  Sources/TuistGraph/Models/Plugins.swift
  Sources/TuistGraphTesting/Models/Plugins+TestData.swift
  Sources/TuistKit/Services/ExecService.swift
  Sources/TuistPlugin/PluginService.swift
  Tests/TuistKitTests/Services/ExecServiceTests.swift
  Tests/TuistPluginTests/PluginServiceTests.swift
  projects/docs/docs/plugins/creating-plugins.md
  projects/docs/docs/plugins/using-plugins.md
  projects/tuist/features/tasks.feature
  projects/tuist/fixtures/app_with_plugins/.gitignore
  projects/tuist/fixtures/app_with_plugins/LocalPlugin/Tasks/CreateFile.swift
Labels: domain:tasks

#3043 [Dependencies.swift] Generate `DependenciesGraph` for `Carthage` dependencies.
  CHANGELOG.md
  Sources/ProjectDescription/Dependencies/CarthageDependencies.swift
  Sources/ProjectDescription/Dependencies/SwiftPackageManagerDependencies.swift
  Sources/TuistDependencies/Carthage/CarthageInteractor.swift
  Sources/TuistDependencies/Carthage/Models/CarthageVersionFile.swift
  Sources/TuistDependencies/Carthage/Utils/CarthageController.swift
  Sources/TuistDependencies/Carthage/Utils/CarthageGraphGenerator.swift
  Sources/TuistDependencies/CocoaPods/CocoaPodsInteractor.swift
  Sources/TuistDependencies/DependenciesController.swift
  Sources/TuistDependencies/DependenciesGraph/DependenciesGraphController.swift
  Sources/TuistDependencies/SwiftPackageManager/SwiftPackageManagerInteractor.swift
  Sources/TuistDependenciesTesting/Carthage/MockCarthageInteractor.swift
  Sources/TuistDependenciesTesting/Carthage/Models/CarthageVersionFile+TestData.swift
  Sources/TuistDependenciesTesting/Carthage/Utils/MockCarthageController.swift
  Sources/TuistDependenciesTesting/Carthage/Utils/MockCarthageGraphGenerator.swift
  Sources/TuistDependenciesTesting/CocoaPods/MockCocoaPodsInteractor.swift
  Sources/TuistDependenciesTesting/DependenciesGraph/MockDependenciesGraphController.swift
  Sources/TuistDependenciesTesting/SwiftPackageManager/MockSwiftPackageManagerInteractor.swift
  Sources/TuistGraph/DependenciesGraph/DependenciesGraph.swift
  Sources/TuistGraph/DependenciesGraph/ThirdPartyDependency.swift
  Sources/TuistGraph/Models/Dependencies/CarthageDependencies.swift
  Sources/TuistGraph/ValueGraph/ValueGraph.swift
  Sources/TuistGraphTesting/DependenciesGraph/DependenciesGraph+TestData.swift
  Sources/TuistGraphTesting/DependenciesGraph/ThirdPartyDependency+TestData.swift
  Sources/TuistLoader/Models+ManifestMappers/CarthageDependencies+ManifestMapper.swift
  Sources/TuistSupport/Constants.swift
  Sources/TuistSupportTesting/Extensions/XCTestCase+Extras.swift
  Tests/ProjectDescriptionTests/Dependencies/CarthageDependenciesTests.swift
  Tests/ProjectDescriptionTests/Dependencies/DependenciesTests.swift
  Tests/ProjectDescriptionTests/Dependencies/SwiftPackageManagerDependenciesTests.swift
  Tests/TuistDependenciesTests/Carthage/CarthageInteractorTests.swift
  Tests/TuistDependenciesTests/Carthage/Models/CarthageVersionFileTests.swift
  Tests/TuistDependenciesTests/Carthage/Utils/CarthageControllerTests.swift
  Tests/TuistDependenciesTests/Carthage/Utils/CarthageGraphGeneratorTests.swift
  Tests/TuistDependenciesTests/CocoaPods/CocoaPodsInteractorTests.swift
  Tests/TuistDependenciesTests/DependenciesControllerTests.swift
  Tests/TuistDependenciesTests/DependenciesGraph/DependenciesGraphControllerTests.swift
  Tests/TuistDependenciesTests/SwiftPackageManager/SwiftPackageManagerInteractorTests.swift
  Tests/TuistGraphTests/DependenciesGraph/DependenciesGraphTests.swift
  Tests/TuistGraphTests/DependenciesGraph/ThirdPartyDependencyTests.swift
  Tests/TuistGraphTests/Models/Dependencies/CarthageDependenciesTests.swift
  Tests/TuistKitTests/Services/Dependencies/DependenciesFetchServiceTests.swift
  Tests/TuistKitTests/Services/Dependencies/DependenciesUpdateServiceTests.swift
  Tests/TuistLoaderTests/Loaders/DependenciesModelLoaderTests.swift
  Tests/TuistLoaderTests/Models+ManifestMappers/DependenciesManifestMapperTests.swift
  projects/docs/docs/guides/third-party-dependencies.md
  projects/docs/docs/manifests/dependencies.md
  projects/tuist/features/dependencies-fetch.feature
  projects/tuist/features/dependencies-update.feature
  projects/tuist/fixtures/app_with_framework_and_tests_and_dependencies/Tuist/Dependencies.swift
  projects/tuist/fixtures/ios_app_with_helpers/Tuist/Dependencies.swift
Labels: domain:dependencies-swift

#2832 Add --skip-ui-tests parameter to tuist test command
  CHANGELOG.md
  Sources/TuistAutomation/ProjectMappers/SkipUITestsProjectMapper.swift
  Sources/TuistKit/Commands/TestCommand.swift
  Sources/TuistKit/Generator/TestServiceGeneratorFactory.swift
  Sources/TuistKit/GraphMappers/AutomationGraphMapperProvider.swift
  Sources/TuistKit/GraphMappers/AutomationProjectMapperProvider.swift
  Sources/TuistKit/GraphMappers/AutomationWorkspaceMapperProvider.swift
  Sources/TuistKit/Services/TestService.swift
  Tests/TuistAutomationTests/ProjectMappers/SkipUITestsProjectMapperTests.swift
  Tests/TuistKitTests/Generator/Mocks/MockTestServiceGeneratorFactory.swift
  Tests/TuistKitTests/GraphMappers/AutomationProjectMapperProviderTests.swift
  Tests/TuistKitTests/Services/TestServiceTests.swift
  projects/docs/docs/commands/test.md
Labels: domain:automation, type:enhancement

#3108 📦 Fixed: The `tuist dependencies fetch` command fails.
  CHANGELOG.md
  Sources/TuistDependencies/Carthage/Models/CarthageVersionFile.swift
  Sources/TuistDependencies/Carthage/Utils/CarthageGraphGenerator.swift
  Sources/TuistDependenciesTesting/Carthage/Models/CarthageVersionFile+TestData.swift
  Sources/TuistGraph/DependenciesGraph/ThirdPartyDependency.swift
  Sources/TuistGraphTesting/DependenciesGraph/ThirdPartyDependency+TestData.swift
  Tests/TuistDependenciesTests/Carthage/Models/CarthageVersionFileTests.swift
  Tests/TuistDependenciesTests/Carthage/Utils/CarthageGraphGeneratorTests.swift
  Tests/TuistDependenciesTests/DependenciesGraph/DependenciesGraphControllerTests.swift
  Tests/TuistGraphTests/DependenciesGraph/ThirdPartyDependencyTests.swift
Labels: domain:dependencies-swift
