Repository tuist/tuist, pull requests merged in 2021-08, with the labels that each got.

#3300 📦[Dependencies.swift] Fix adding `Carthage` dependencies via `TargetDependency.external`
  CHANGELOG.md
  Sources/TuistDependencies/Carthage/Utils/CarthageGraphGenerator.swift
  Tests/TuistDependenciesTests/Carthage/Utils/CarthageGraphGeneratorTests.swift
  projects/tuist/features/dependencies.feature
  projects/tuist/fixtures/app_with_carthage_dependencies/.gitignore
  projects/tuist/fixtures/app_with_carthage_dependencies/App/AppDelegate.swift
  projects/tuist/fixtures/app_with_carthage_dependencies/AppTests/AppTests.swift
  projects/tuist/fixtures/app_with_carthage_dependencies/Project.swift
  projects/tuist/fixtures/app_with_carthage_dependencies/Tuist/Dependencies.swift
  projects/tuist/fixtures/app_with_framework_and_tests_and_dependencies/AppTests/AppTests.swift
  projects/tuist/fixtures/app_with_framework_and_tests_and_dependencies/Framework/Framework.swift
  projects/tuist/fixtures/app_with_framework_and_tests_and_dependencies/FrameworkTests/FrameworkTests.swift
  projects/tuist/fixtures/app_with_framework_and_tests_and_dependencies/Project.swift
  projects/tuist/fixtures/app_with_framework_and_tests_and_dependencies/Tuist/Config.swift
  projects/tuist/fixtures/app_with_framework_and_tests_and_dependencies/Tuist/Dependencies.swift
Labels: domain:dependencies-swift

#3359 Exclude `**/Tuist/Dependencies/**` when run `tuist edit`.
  CHANGELOG.md
  Sources/TuistKit/ProjectEditor/ProjectEditor.swift
  Sources/TuistLoader/Utils/ManifestFilesLocator.swift
  Sources/TuistLoaderTesting/Utils/Mocks/MockManifestFilesLocator.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorTests.swift
  Tests/TuistLoaderTests/Utils/ManifestFilesLocatorTests.swift
Labels: domain:dependencies-swift, domain:tuist-edit

#3379 Update install command to be shell agnostic
  README.md
Labels: domain:documentation
