Repository tuist/tuist, pull requests merged in 2021-12, with the labels that each got.

#3840 Update swiftui template
  CHANGELOG.md
  Sources/TuistScaffold/TemplateGenerator.swift
  Templates/swiftui/AppDelegate.stencil
  Templates/swiftui/ContentView.stencil
  Templates/swiftui/Preview Content/Preview Assets.xcassets/Contents.json
  Templates/swiftui/SceneDelegate.stencil
  Templates/swiftui/app.stencil
  Templates/swiftui/ios/Assets.xcassets/AccentColor.colorset/Contents.json
  Templates/swiftui/ios/Assets.xcassets/AppIcon.appiconset/Contents.json
  Templates/swiftui/ios/Assets.xcassets/Contents.json
  Templates/swiftui/macos/Assets.xcassets/AccentColor.colorset/Contents.json
  Templates/swiftui/macos/Assets.xcassets/AppIcon.appiconset/Contents.json
  Templates/swiftui/macos/Assets.xcassets/Contents.json
  Templates/swiftui/main.stencil
  Templates/swiftui/swiftui.swift
  Templates/swiftui/tvos/Assets.xcassets/AccentColor.colorset/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image Wide.imageset/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image.imageset/Contents.json
  Templates/swiftui/tvos/Assets.xcassets/Contents.json
Labels: domain:scaffold

#3913 Feat: Add logging when helpers are built
  CHANGELOG.md
  Sources/TuistLoader/ProjectDescriptionHelpers/ProjectDescriptionHelpersBuilder.swift
Labels: type:enhancement, domain:plugin

#3918 Fix: Importing plugins in local helpers
  CHANGELOG.md
  Sources/TuistKit/ProjectEditor/ProjectEditor.swift
  Sources/TuistKit/ProjectEditor/ProjectEditorMapper.swift
  Tests/TuistKitTests/ProjectEditor/Mocks/MockProjectEditorMapper.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorMapperTests.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorTests.swift
  projects/tuist/fixtures/app_with_plugins/Tuist/ProjectDescriptionHelpers/Project+Templates.swift
Labels: type:bug, domain:plugin
