Repository tuist/tuist, pull requests merged in 2021-11, with the labels that each got.

#3619 Build RxSwift dependency as a dynamic framework
  .github/workflows/tuist.yml
  Tuist/Dependencies.swift
Labels: domain:dependencies-swift

#3620 Add missing logic for non-iOS platforms
  .github/workflows/meta-tuist.yml
  Sources/TuistDependencies/SwiftPackageManager/Utils/PackageInfoMapper.swift
Labels: type:bug, domain:generation

#3627 Fix Fourier issues
  Package.resolved
  Package.swift
  Sources/TuistDependencies/SwiftPackageManager/Utils/PackageInfoMapper.swift
  Sources/TuistGraph/Output/GraphOutput.swift
  Sources/TuistGraph/Output/PackageOutput.swift
  Sources/TuistGraph/Output/ProjectOutput.swift
  Sources/TuistGraph/Output/SchemeOutput.swift
  Sources/TuistGraph/Output/TargetOutput.swift
  Sources/TuistKit/Cache/CacheController.swift
  Sources/TuistKit/Services/GraphService.swift
  Sources/TuistSupportTesting/Extensions/XCTestCase+Extras.swift
  Tests/TuistAnalyticsTests/Backends/TuistAnalyticsBackboneBackendTests.swift
  Tests/TuistAnalyticsTests/Resources/CloudAnalyticsResourceFactoryTests.swift
  Tests/TuistKitTests/Services/GraphServiceTests.swift
  Tuist/Dependencies.swift
  Tuist/Dependencies/Lockfiles/Package.resolved
  projects/fourier/lib/fourier/commands/format.rb
  projects/fourier/lib/fourier/services/build/tuist/all.rb
  projects/fourier/lib/fourier/services/format/swift.rb
  projects/fourier/lib/fourier/services/test/tuist/unit.rb
  projects/fourier/lib/fourier/utilities/system.rb
  projects/fourier/test/fourier/services/build/tuist/all_test.rb
  projects/fourier/test/fourier/services/format/swift_test.rb
  projects/fourier/test/fourier/services/generate/tuist_test.rb
  projects/fourier/test/fourier/services/lint/lockfiles_test.rb
  projects/fourier/test/fourier/services/test/tuist/unit_test.rb
  projects/tuist/features/step_definitions/test.rb
Labels: type:bug, dependencies, ruby

#3667 Set `ENABLE_TESTING_SEARCH_PATHS` for appropriate dependencies
  Tuist/Dependencies.swift
Labels: type:bug, domain:dependencies-swift

#3723 Fix table in environment.md
  projects/docs/docs/guides/environment.md
Labels: domain:documentation

#3696 New project
  .vscode/extensions.json
  .vscode/settings.json
  projects/cloud/app/controllers/application_controller.rb
  projects/cloud/app/frontend/components/App.tsx
  projects/cloud/app/frontend/components/Dashboard.tsx
  projects/cloud/app/frontend/components/MeQuery.graphql
  projects/cloud/app/frontend/components/NewProject.tsx
  projects/cloud/app/frontend/components/NoPageFound.tsx
  projects/cloud/app/frontend/graphql/CreateProject.graphql
  projects/cloud/app/frontend/graphql/MeQuery.graphql
  projects/cloud/app/frontend/graphql/MyAccountsQuery.graphql
  projects/cloud/app/frontend/graphql/MyOrganizationsQuery.graphql
  projects/cloud/app/frontend/graphql/MyProjectsQuery.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/graphql/mutations/create_project.rb
  projects/cloud/app/graphql/types/account_type.rb
  projects/cloud/app/graphql/types/mutation_type.rb
  projects/cloud/app/graphql/types/organization_type.rb
  projects/cloud/app/graphql/types/project_type.rb
  projects/cloud/app/graphql/types/query_type.rb
  projects/cloud/app/graphql/types/user_type.rb
  projects/cloud/app/models/account.rb
  projects/cloud/app/models/project.rb
  projects/cloud/app/models/user.rb
  projects/cloud/app/services/user_accounts_fetch_service.rb
  projects/cloud/app/services/user_organizations_fetch_service.rb
  projects/cloud/app/services/user_projects_fetch_service.rb
  projects/cloud/config/routes.rb
  projects/cloud/db/migrate/20211124155026_add_last_visited_project_to_user.rb
  projects/cloud/db/schema.rb
  projects/cloud/db/seeds.rb
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/models/.keep
  projects/cloud/test/models/account_test.rb
  projects/cloud/test/services/user_accounts_fetch_service_test.rb
  projects/cloud/test/services/user_organizations_fetch_service_test.rb
Labels: domain:cloud

#3751 Organization settings
  projects/cloud/app/frontend/components/App.tsx
  projects/cloud/app/frontend/components/Dashboard.tsx
  projects/cloud/app/frontend/components/Home.tsx
  projects/cloud/app/frontend/components/NewProject.tsx
  projects/cloud/app/frontend/components/Organization.tsx
  projects/cloud/app/frontend/components/RemoteCache.tsx
  projects/cloud/app/frontend/graphql/MeQuery.graphql
  projects/cloud/app/frontend/graphql/MyProjectsQuery.graphql
  projects/cloud/app/frontend/graphql/OrganizationQuery.graphql
  projects/cloud/app/frontend/graphql/ProjectQuery.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/graphql/types/.keep
  projects/cloud/app/graphql/types/account_type.rb
  projects/cloud/app/graphql/types/organization_type.rb
  projects/cloud/app/graphql/types/owner_type.rb
  projects/cloud/app/graphql/types/query_type.rb
  projects/cloud/app/graphql/types/user_type.rb
  projects/cloud/app/models/organization.rb
  projects/cloud/app/services/organization_fetch_service.rb
  projects/cloud/app/services/project_fetch_service.rb
  projects/cloud/package-lock.json
  projects/cloud/package.json
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/services/organization_fetch_service_test.rb
  projects/cloud/test/services/project_fetch_service_test.rb
Labels: domain:cloud

#3745 Create new organization
  projects/cloud/app/frontend/components/App.tsx
  projects/cloud/app/frontend/components/Dashboard.tsx
  projects/cloud/app/frontend/components/Home.tsx
  projects/cloud/app/frontend/components/NewProject.tsx
  projects/cloud/app/frontend/components/Organization.tsx
  projects/cloud/app/frontend/components/RemoteCache.tsx
  projects/cloud/app/frontend/graphql/CreateProject.graphql
  projects/cloud/app/frontend/graphql/MeQuery.graphql
  projects/cloud/app/frontend/graphql/MyProjectsQuery.graphql
  projects/cloud/app/frontend/graphql/OrganizationQuery.graphql
  projects/cloud/app/frontend/graphql/ProjectQuery.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/graphql/mutations/create_project.rb
  projects/cloud/app/graphql/types/.keep
  projects/cloud/app/graphql/types/account_type.rb
  projects/cloud/app/graphql/types/organization_type.rb
  projects/cloud/app/graphql/types/owner_type.rb
  projects/cloud/app/graphql/types/query_type.rb
  projects/cloud/app/graphql/types/user_type.rb
  projects/cloud/app/models/organization.rb
  projects/cloud/app/services/organization_fetch_service.rb
  projects/cloud/app/services/project_create_service.rb
  projects/cloud/app/services/project_fetch_service.rb
  projects/cloud/app/services/user_organizations_fetch_service.rb
  projects/cloud/package-lock.json
  projects/cloud/package.json
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/services/organization_fetch_service_test.rb
  projects/cloud/test/services/project_create_service_test.rb
  projects/cloud/test/services/project_fetch_service_test.rb
  projects/cloud/test/services/user_organizations_fetch_service_test.rb
Labels: domain:cloud
