Repository tuist/tuist, pull requests merged in 2022-01, with the labels that each got.

#3929 Add `.exact`, `.upToNextMajor`, and `.upToNextMinor` options to `CompatibleXcodeVersions`
  CHANGELOG.md
  Sources/ProjectDescription/CompatibleXcodeVersions.swift
  Sources/ProjectDescription/Version.swift
  Sources/TuistGenerator/Linter/EnvironmentLinter.swift
  Sources/TuistGraph/Models/CompatibleXcodeVersions.swift
  Sources/TuistLoader/Models+ManifestMappers/CompatibleXcodeVersions+ManifestMapper.swift
  Tests/ProjectDescriptionTests/CompatibleXcodeVersionsTests.swift
  Tests/TuistGeneratorTests/Linter/EnvironmentLinterTests.swift
  Tests/TuistGraphTests/Models/CompatibleXcodeVersionsTests.swift
  Tests/TuistKitIntegrationTests/Commands/DumpServiceIntegrationTests.swift
  projects/docs/docs/manifests/config.md
  projects/tuist/features/generate-4.feature
  projects/tuist/features/step_definitions/shared/tuist.rb
Labels: domain:generation

#3945 [Docs] Update form of internal links
  projects/docs/docs/building-at-scale/best-practices.md
  projects/docs/docs/building-at-scale/caching.md
  projects/docs/docs/building-at-scale/microfeatures.md
  projects/docs/docs/cloud/get-started.md
  projects/docs/docs/commands/dependencies.md
  projects/docs/docs/commands/edit.md
  projects/docs/docs/commands/focus.md
  projects/docs/docs/commands/migration.md
  projects/docs/docs/commands/scaffold.md
  projects/docs/docs/contributors/code-reviews.md
  projects/docs/docs/examples/app-extensions.md
  projects/docs/docs/guides/adopting-tuist.md
  projects/docs/docs/guides/continuous-integration.md
  projects/docs/docs/guides/dependencies.md
  projects/docs/docs/guides/third-party-dependencies.md
  projects/docs/docs/guides/version-management.md
  projects/docs/docs/manifests/dependencies.md
  projects/docs/docs/manifests/project.md
  projects/docs/docs/manifests/workspace.md
  projects/docs/docs/plugins/creating-plugins.md
  projects/docs/docs/plugins/using-plugins.md
  projects/docs/versioned_docs/version-1/building-at-scale/best-practices.md
  projects/docs/versioned_docs/version-1/building-at-scale/caching.md
  projects/docs/versioned_docs/version-1/building-at-scale/microfeatures.md
  projects/docs/versioned_docs/version-1/commands/dependencies.md
  projects/docs/versioned_docs/version-1/commands/edit.md
  projects/docs/versioned_docs/version-1/commands/focus.md
  projects/docs/versioned_docs/version-1/commands/migration.md
  projects/docs/versioned_docs/version-1/commands/scaffold.md
  projects/docs/versioned_docs/version-1/commands/signing.md
  projects/docs/versioned_docs/version-1/contributors/code-reviews.md
  projects/docs/versioned_docs/version-1/examples/app-extensions.md
  projects/docs/versioned_docs/version-1/guides/adopting-tuist.md
  projects/docs/versioned_docs/version-1/guides/dependencies.md
  projects/docs/versioned_docs/version-1/guides/third-party-dependencies.md
  projects/docs/versioned_docs/version-1/guides/version-management.md
  projects/docs/versioned_docs/version-1/manifests/dependencies.md
  projects/docs/versioned_docs/version-1/manifests/project.md
  projects/docs/versioned_docs/version-1/manifests/workspace.md
  projects/docs/versioned_docs/version-1/plugins/creating-plugins.md
  projects/docs/versioned_docs/version-1/plugins/using-plugins.md
Labels: domain:documentation

#3998 Invite user
  projects/cloud/app/frontend/__tests__/OrganizationStore.test.ts
  projects/cloud/app/frontend/components/App.tsx
  projects/cloud/app/frontend/components/pages/invitations/AcceptInvitationPage.tsx
  projects/cloud/app/frontend/components/pages/invitations/AcceptInvitationPageStore.ts
  projects/cloud/app/frontend/components/pages/organization/OrganizationPage.tsx
  projects/cloud/app/frontend/components/pages/organization/OrganizationPageStore.ts
  projects/cloud/app/frontend/graphql/AcceptInvitation.graphql
  projects/cloud/app/frontend/graphql/InvitationQuery.graphql
  projects/cloud/app/frontend/graphql/InviteUser.graphql
  projects/cloud/app/frontend/graphql/RemoveUser.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/frontend/stores/OrganizationStore.ts
  projects/cloud/app/graphql/mutations/accept_invitation.rb
  projects/cloud/app/graphql/mutations/invite_user.rb
  projects/cloud/app/graphql/mutations/remove_user.rb
  projects/cloud/app/graphql/types/account_type.rb
  projects/cloud/app/graphql/types/invitation_type.rb
  projects/cloud/app/graphql/types/mutation_type.rb
  projects/cloud/app/graphql/types/organization_type.rb
  projects/cloud/app/graphql/types/query_type.rb
  projects/cloud/app/mailers/invitation_mailer.rb
  projects/cloud/app/mailers/test_mailer.rb
  projects/cloud/app/models/invitation.rb
  projects/cloud/app/models/organization.rb
  projects/cloud/app/models/user.rb
  projects/cloud/app/services/invitation_accept_service.rb
  projects/cloud/app/services/invitation_fetch_service.rb
  projects/cloud/app/services/organization_invite_service.rb
  projects/cloud/app/services/remove_user_service.rb
  projects/cloud/app/views/invitation_mailer/invitation_mail.html.erb
  projects/cloud/app/views/test_mailer/test.html.erb
  projects/cloud/app/views/test_mailer/test.text.erb
  projects/cloud/config/credentials.yml.enc
  projects/cloud/config/defaults.yml
  projects/cloud/config/environments/development.rb
  projects/cloud/config/routes.rb
  projects/cloud/db/migrate/20211222143721_add_invitations_table.rb
  projects/cloud/db/schema.rb
  projects/cloud/db/seeds.rb
  projects/cloud/package-lock.json
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/mailers/test_mailer_test.rb
  projects/cloud/test/services/invitation_accept_service_test.rb
  projects/cloud/test/services/invitation_fetch_service_test.rb
  projects/cloud/test/services/organization_invite_service_test.rb
  projects/cloud/test/services/remove_user_service_test.rb
Labels: domain:cloud

#4074 3️⃣ Fix help text
  Sources/TuistKit/Commands/TuistCommand.swift
  Sources/TuistKit/Services/TuistService.swift
Labels: type:bug, tuist-3.0
