Repository tuist/tuist, pull requests merged in 2022-04, with the labels that each got.

#4325 Fix for duplicated settings (for example, `-Xcc`) incorrectly removed
  Sources/TuistGenerator/Utils/SettingsHelper.swift
  Tests/TuistGeneratorTests/Generator/ConfigGeneratorTests.swift
  Tests/TuistGeneratorTests/Generator/LinkGeneratorTests.swift
  Tests/TuistGeneratorTests/Utils/SettingsHelperTests.swift
Labels: changelog:fixed

#4339 Properly display alert and notice in the login page
  projects/cloud/app/frontend/server_side_components/Login.tsx
  projects/cloud/app/views/devise/sessions/new.html.erb
  projects/cloud/app/views/layouts/application.html.erb
  projects/cloud/config/locales/devise.en.yml
Labels: domain:cloud

#4345 Cloud/delete project
  projects/cloud/app/frontend/components/App.tsx
  projects/cloud/app/frontend/components/Home.tsx
  projects/cloud/app/frontend/components/pages/organization/OrganizationPage.tsx
  projects/cloud/app/frontend/components/pages/remote-cache/RemoteCachePageStore.ts
  projects/cloud/app/frontend/components/pages/remote-cache/__tests__/RemoteCachePageStore.test.ts
  projects/cloud/app/frontend/components/pages/settings/SettingsPage.tsx
  projects/cloud/app/frontend/components/pages/settings/SettingsPageStore.ts
  projects/cloud/app/frontend/components/pages/settings/__tests__/SettingsPageStore.test.ts
  projects/cloud/app/frontend/graphql/DeleteProject.graphql
  projects/cloud/app/frontend/graphql/ProjectDetail.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/frontend/models/Project.ts
  projects/cloud/app/frontend/stores/HomeStore.ts
  projects/cloud/app/frontend/stores/ProjectStore.ts
  projects/cloud/app/frontend/stores/UserStore.ts
  projects/cloud/app/graphql/mutations/delete_project.rb
  projects/cloud/app/graphql/types/mutation_type.rb
  projects/cloud/app/models/project.rb
  projects/cloud/app/models/user.rb
  projects/cloud/app/policies/project_policy.rb
  projects/cloud/app/services/organization_remove_user_service.rb
  projects/cloud/app/services/project_delete_service.rb
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/services/project_delete_service_test.rb
Labels: domain:cloud

#4346 Update last visited project
  projects/cloud/app/frontend/graphql/UpdateLastVisitedProject.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/frontend/stores/HomeStore.ts
  projects/cloud/app/frontend/stores/ProjectStore.ts
  projects/cloud/app/frontend/stores/__tests__/ProjectStore.test.ts
  projects/cloud/app/graphql/mutations/update_last_visited_project.rb
  projects/cloud/app/graphql/types/mutation_type.rb
  projects/cloud/app/services/last_visited_project_update_service.rb
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/services/last_visited_project_update_service_test.rb
Labels: domain:cloud

#4349 Disallow admin changing their own role
  projects/cloud/app/frontend/components/pages/organization/OrganizationPage.tsx
  projects/cloud/config/locales/devise.en.yml
Labels: domain:cloud

#4350 Reset remote cache storage values when changing the project
  projects/cloud/app/frontend/components/pages/remote-cache/RemoteCachePageStore.ts
  projects/cloud/app/frontend/components/pages/remote-cache/__tests__/RemoteCachePageStore.test.ts
Labels: domain:cloud

#4031 Fix for developing Tuist on M1 without using Rosetta
  Project.swift
  Sources/TuistAutomation/XcodeBuild/XcodeBuildController.swift
  Sources/TuistCache/Utilities/CacheFrameworkBuilder.swift
  Sources/TuistCore/Simulator/SimulatorController.swift
  Sources/TuistCoreTesting/Simulator/MockSimulatorController.swift
  Sources/TuistKit/Cache/CacheController.swift
  Sources/TuistKit/ProjectEditor/ProjectEditorMapper.swift
  Tests/TuistAutomationTests/XcodeBuild/XcodeBuildControllerTests.swift
  Tests/TuistKitTests/Cache/CacheControllerTests.swift
  Tests/TuistKitTests/ProjectEditor/ProjectEditorMapperTests.swift
Labels: changelog:fixed

#4373 Add support for enabling markdown rendering in `Workspace.swift` for README files
  Sources/ProjectDescription/WorkspaceGenerationOptions.swift
  Sources/TuistAutomation/XcodeBuild/XcodeBuildController.swift
  Sources/TuistDependencies/SwiftPackageManager/Utils/PackageInfoMapper.swift
  Sources/TuistGraph/Models/Workspace.swift
  Sources/TuistGraph/Models/WorkspaceGenerationOptions.swift
  Sources/TuistGraphTesting/Models/Workspace+TestData.swift
  Sources/TuistKit/Mappers/Factories/WorkspaceMapperFactory.swift
  Sources/TuistKit/Mappers/Workspace/TuistWorkspaceRenderMarkdownMapper.swift
  Sources/TuistKit/ProjectEditor/ProjectEditorMapper.swift
  Sources/TuistKit/Services/BuildService.swift
  Sources/TuistLoader/Models+ManifestMappers/WorkspaceGenerationOptions+ManifestMapper.swift
  Sources/TuistSigning/Linter/SigningLinter.swift
  Sources/TuistSupport/Extensions/Sequence+Extras.swift
  Sources/TuistSupport/HTTP/HTTPResource.swift
  Sources/TuistSupport/Logging/DetailedLogHandler.swift
  Tests/TuistKitIntegrationTests/Commands/DumpServiceIntegrationTests.swift
  Tests/TuistKitTests/Mappers/Factories/WorkspaceMapperFactoryTests.swift
  Tests/TuistKitTests/Mappers/Workspace/TuistWorkspaceRenderMarkdownReadmeMapperTests.swift
  Tests/TuistKitTests/Services/ScaffoldServiceTests.swift
  Tests/TuistLoaderTests/Models+ManifestMappers/WorkspaceGenerationOptions+ManifestWrapperTests.swift
  projects/tuist/fixtures/ios_app_with_custom_workspace/Documentation/README.md
  projects/tuist/fixtures/ios_app_with_custom_workspace/Workspace.swift
Labels: changelog:added

#4383 Cloud/command events
  Sources/TuistAnalytics/Models/CommandEvent.swift
  Sources/TuistKit/Commands/TrackableCommand/CommandEventFactory.swift
  Sources/TuistKit/Commands/TrackableCommand/TrackableCommand.swift
  Sources/TuistKit/Commands/TuistCommand.swift
  Tests/TuistAnalyticsTests/Models/TestData/CommandEvent+TestData.swift
  Tests/TuistAnalyticsTests/Resources/CloudAnalyticsResourceFactoryTests.swift
  Tests/TuistAnalyticsTests/Utilities/TuistAnalyticsDispatcherTests.swift
  Tests/TuistKitTests/CommandTracking/CommandEventFactoryTests.swift
  Tests/TuistKitTests/CommandTracking/TrackableCommandTests.swift
  projects/cloud/Gemfile
  projects/cloud/Gemfile.lock
  projects/cloud/app/controllers/analytics_controller.rb
  projects/cloud/app/controllers/api_controller.rb
  projects/cloud/app/controllers/application_controller.rb
  projects/cloud/app/controllers/cache_controller.rb
  projects/cloud/app/frontend/components/App.tsx
  projects/cloud/app/frontend/components/Dashboard.tsx
  projects/cloud/app/frontend/components/Home.tsx
  projects/cloud/app/frontend/components/pages/commandEventDetail/CommandEventDetailPage.tsx
  projects/cloud/app/frontend/components/pages/commandEventDetail/CommandEventDetailPageStore.ts
  projects/cloud/app/frontend/components/pages/commandEventDetail/__tests__/CommandEventDetailPageStore.test.ts
  projects/cloud/app/frontend/components/pages/dashboard/DashboardPage.tsx
  projects/cloud/app/frontend/components/pages/dashboard/DashboardPageStore.tsx
  projects/cloud/app/frontend/components/pages/dashboard/__tests__/DashboardPageStore.test.ts
  projects/cloud/app/frontend/graphql/CommandEvent.graphql
  projects/cloud/app/frontend/graphql/CommandEventDetail.graphql
  projects/cloud/app/frontend/graphql/CommandEventQuery.graphql
  projects/cloud/app/frontend/graphql/CommandEventsQuery.graphql
  projects/cloud/app/frontend/graphql/UpdateLastVisitedProject.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/frontend/models/CommandEvent.ts
  projects/cloud/app/frontend/models/CommandEventDetail.ts
  projects/cloud/app/frontend/stores/ProjectStore.ts
  projects/cloud/app/frontend/utilities/relativeDate.ts
  projects/cloud/app/graphql/types/command_event_type.rb
  projects/cloud/app/graphql/types/mutation_type.rb
  projects/cloud/app/graphql/types/query_type.rb
  projects/cloud/app/models/command_event.rb
  projects/cloud/app/models/project.rb
  projects/cloud/app/policies/command_event_policy.rb
  projects/cloud/app/services/cache_service.rb
  projects/cloud/app/services/command_event_create_service.rb
  projects/cloud/app/services/command_event_fetch_service.rb
  projects/cloud/app/services/command_events_fetch_service.rb
  projects/cloud/app/services/project_delete_service.rb
  projects/cloud/app/services/project_fetch_service.rb
  projects/cloud/codegen.yml
  projects/cloud/config/routes.rb
  projects/cloud/db/migrate/20220410132610_add_command_events_table.rb
  projects/cloud/db/schema.rb
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/services/cache_service_test.rb
  projects/cloud/test/services/command_event_create_service_test.rb
  projects/cloud/test/services/command_event_fetch_service_test.rb
  projects/cloud/test/services/command_events_fetch_service_test.rb
  projects/cloud/test/services/project_delete_service_test.rb
  projects/cloud/test/services/project_fetch_service_test.rb
Labels: domain:cloud

#4399 Show graph for commands durations
  projects/cloud/Gemfile
  projects/cloud/Gemfile.lock
  projects/cloud/app/frontend/components/App.tsx
  projects/cloud/app/frontend/components/TuistCloudAppProvider.tsx
  projects/cloud/app/frontend/components/pages/dashboard/DashboardPage.tsx
  projects/cloud/app/frontend/components/pages/dashboard/DashboardPageStore.tsx
  projects/cloud/app/frontend/components/pages/dashboard/__tests__/DashboardPageStore.test.ts
  projects/cloud/app/frontend/graphql/CommandAverage.graphql
  projects/cloud/app/frontend/graphql/CommandAveragesQuery.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/frontend/models/CommandAverage.ts
  projects/cloud/app/graphql/types/command_average_type.rb
  projects/cloud/app/graphql/types/query_type.rb
  projects/cloud/app/services/command_average_service.rb
  projects/cloud/package-lock.json
  projects/cloud/package.json
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/services/command_average_service_test.rb
Labels: domain:cloud

#4400 Fix resource mapping when target name contains hyphens
  Sources/TuistGenerator/Mappers/ResourcesProjectMapper.swift
  Tests/TuistGeneratorTests/ProjectMappers/ResourcesProjectMapperTests.swift
Labels: changelog:fixed

#4389 Support for watchOS UI test targets
  Sources/TuistGenerator/Linter/GraphLinter.swift
  Sources/TuistGraph/Models/Product.swift
  Tests/TuistGeneratorTests/Linter/GraphLinterTests.swift
  Tests/TuistGraphTests/Models/ProductTests.swift
  projects/tuist/fixtures/ios_app_with_watchapp2/Project.swift
Labels: changelog:added

#4401 Fix xcframework import when framework name is different from xcframework name
  Sources/TuistCore/MetadataProviders/XCFrameworkMetadataProvider.swift
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/Info.plist
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-arm64/MyFramework.framework/Headers/MyFramework-Swift.h
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-arm64/MyFramework.framework/Info.plist
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-arm64/MyFramework.framework/Modules/MyFramework.swiftmodule/arm64-apple-ios.swiftdoc
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-arm64/MyFramework.framework/Modules/MyFramework.swiftmodule/arm64-apple-ios.swiftinterface
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-arm64/MyFramework.framework/Modules/MyFramework.swiftmodule/arm64.swiftdoc
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-arm64/MyFramework.framework/Modules/MyFramework.swiftmodule/arm64.swiftinterface
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-arm64/MyFramework.framework/Modules/module.modulemap
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-arm64/MyFramework.framework/MyFramework
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-x86_64-simulator/MyFramework.framework/Headers/MyFramework-Swift.h
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-x86_64-simulator/MyFramework.framework/Info.plist
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-x86_64-simulator/MyFramework.framework/Modules/MyFramework.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-x86_64-simulator/MyFramework.framework/Modules/MyFramework.swiftmodule/x86_64-apple-ios-simulator.swiftinterface
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-x86_64-simulator/MyFramework.framework/Modules/MyFramework.swiftmodule/x86_64.swiftdoc
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-x86_64-simulator/MyFramework.framework/Modules/MyFramework.swiftmodule/x86_64.swiftinterface
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-x86_64-simulator/MyFramework.framework/Modules/module.modulemap
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-x86_64-simulator/MyFramework.framework/MyFramework
  Tests/Fixtures/MyFrameworkDifferentProductName.xcframework/ios-x86_64-simulator/MyFramework.framework/_CodeSignature/CodeResources
  Tests/TuistCoreTests/MetadataProviders/XCFrameworkMetadataProviderTests.swift
Labels: changelog:fixed

#4407 Make `TargetReference` conform to `Hashable`
  Sources/ProjectDescription/TargetReference.swift
Labels: changelog:changed

#4408 Add insights for tuist cache warm
  projects/cloud/app/frontend/components/pages/dashboard/DashboardPage.tsx
  projects/cloud/app/services/command_average_service.rb
  projects/cloud/test/services/command_average_service_test.rb
Labels: domain:cloud
