Repository tuist/tuist, pull requests merged in 2022-03, with the labels that each got.

#4221 Tuist Cloud dogfood
  Tuist/Config.swift
  projects/cloud/.vscode/settings.json
  projects/cloud/app/controllers/auth_controller.rb
  projects/cloud/app/controllers/graphql_controller.rb
  projects/cloud/app/frontend/components/Home.tsx
  projects/cloud/app/frontend/entrypoints/website.tsx
  projects/cloud/app/frontend/graphql/ChangeRemoteCacheStorage.graphql
  projects/cloud/app/frontend/graphql/ChangeRole.graphql
  projects/cloud/app/frontend/graphql/MeQuery.graphql
  projects/cloud/app/frontend/graphql/RemoveUser.graphql
  projects/cloud/app/frontend/graphql/S3BucketInfo.graphql
  projects/cloud/app/frontend/graphql/UserBasicInfo.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/lib/defaults.rb
  projects/cloud/app/lib/environment.rb
  projects/cloud/app/lib/secrets.rb
  projects/cloud/app/models/concerns/token_authenticatable.rb
  projects/cloud/app/models/user.rb
  projects/cloud/app/policies/account_policy.rb
  projects/cloud/app/services/account_create_service.rb
  projects/cloud/app/services/change_user_role_service.rb
  projects/cloud/app/services/invitation_accept_service.rb
  projects/cloud/app/services/organization_invite_service.rb
  projects/cloud/app/services/project_fetch_service.rb
  projects/cloud/app/services/remove_user_service.rb
  projects/cloud/app/services/s3_bucket_create_service.rb
  projects/cloud/app/services/s3_bucket_update_service.rb
  projects/cloud/app/services/s3_buckets_fetch_service.rb
  projects/cloud/config/environments/production.rb
  projects/cloud/package-lock.json
  projects/cloud/schema.json
Labels: domain:cloud

#4228 Cloud/login
  projects/cloud/.browserslistrc
  projects/cloud/.gitignore
  projects/cloud/Gemfile
  projects/cloud/Gemfile.lock
  projects/cloud/app/controllers/users/registrations_controller.rb
  projects/cloud/app/frontend/components/App.tsx
  projects/cloud/app/frontend/components/TuistCloudAppProvider.tsx
  projects/cloud/app/frontend/packs/application.js
  projects/cloud/app/frontend/packs/hello_react.jsx
  projects/cloud/app/frontend/packs/hello_typescript.ts
  projects/cloud/app/frontend/packs/server_rendering.js
  projects/cloud/app/frontend/server_side_components/LinkButton.tsx
  projects/cloud/app/frontend/server_side_components/Login.tsx
  projects/cloud/app/frontend/server_side_components/ResendConfirmation.tsx
  projects/cloud/app/models/user.rb
  projects/cloud/app/services/user_create_service.rb
  projects/cloud/app/views/devise/confirmations/new.html.erb
  projects/cloud/app/views/devise/sessions/new.html.erb
  projects/cloud/babel.config.js
  projects/cloud/bin/webpack
  projects/cloud/bin/webpack-dev-server
  projects/cloud/config/application.rb
  projects/cloud/config/webpack/development.js
  projects/cloud/config/webpack/environment.js
  projects/cloud/config/webpack/production.js
  projects/cloud/config/webpack/test.js
  projects/cloud/config/webpacker.yml
  projects/cloud/package-lock.json
  projects/cloud/package.json
  projects/cloud/test/services/user_create_service_test.rb
Labels: domain:cloud

#4238 Bucket region
  Tuist/Config.swift
  projects/cloud/app/controllers/users/omniauth_callbacks_controller.rb
  projects/cloud/app/frontend/components/pages/remote-cache/RemoteCachePage.tsx
  projects/cloud/app/frontend/components/pages/remote-cache/RemoteCachePageStore.ts
  projects/cloud/app/frontend/components/pages/remote-cache/__tests__/RemoteCachePageStore.test.ts
  projects/cloud/app/frontend/graphql/S3BucketInfo.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/frontend/models/S3Bucket.ts
  projects/cloud/app/graphql/mutations/create_s3_bucket.rb
  projects/cloud/app/graphql/mutations/update_s3_bucket.rb
  projects/cloud/app/graphql/types/s3_bucket_type.rb
  projects/cloud/app/services/cache_service.rb
  projects/cloud/app/services/s3_bucket_create_service.rb
  projects/cloud/app/services/s3_bucket_update_service.rb
  projects/cloud/app/services/user_create_service.rb
  projects/cloud/config/locales/devise.en.yml
  projects/cloud/db/migrate/20220311074508_add_region_to_s3_bucket.rb
  projects/cloud/db/schema.rb
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/services/cache_test.rb
  projects/cloud/test/services/project_change_remote_cache_storage_service_test.rb
  projects/cloud/test/services/s3_bucket_create_service_test.rb
  projects/cloud/test/services/s3_bucket_update_service_test.rb
  projects/cloud/test/services/s3_buckets_fetch_service_test.rb
Labels: domain:cloud

#4239 Implement sign out
  projects/cloud/app/frontend/components/Home.tsx
  projects/cloud/app/frontend/networking/graphqlClient.ts
  projects/cloud/app/frontend/utilities/csrfToken.ts
Labels: domain:cloud

#4248 Use redirect instead of render for cloud auth
  projects/cloud/app/controllers/auth_controller.rb
Labels: domain:cloud

#4262 Cloud optional
  CHANGELOG.md
  Sources/ProjectDescription/Cloud.swift
  Sources/TuistCache/Cache/Cache.swift
  Sources/TuistCache/Cache/CacheFactory.swift
  Sources/TuistCache/Mappers/Graph/TargetsToCacheBinariesGraphMapper.swift
  Sources/TuistCacheTesting/Cache/Mocks/MockCacheFactory.swift
  Sources/TuistCloud/Utilities/CloudAuthenticationController.swift
  Sources/TuistCloudTesting/Utilities/MockCloudAuthenticationController.swift
  Sources/TuistGraph/Models/Cloud.swift
  Sources/TuistKit/Cache/CacheStorageProvider.swift
  Sources/TuistKit/Services/Cache/CacheWarmService.swift
  Sources/TuistLoader/Models+ManifestMappers/Cloud+ManifestMapper.swift
  Sources/TuistSupportTesting/Extensions/XCTestCase+Extras.swift
  Tests/TuistCacheTests/Cache/CacheTests.swift
  Tests/TuistCacheTests/Mappers/Graph/TargetsToCacheBinariesGraphMapperTests.swift
  Tests/TuistKitTests/Cache/CacheStorageProviderTests.swift
  Tuist/Config.swift
  Tuist/Dependencies/Lockfiles/Package.resolved
  projects/cloud/app/controllers/auth_controller.rb
  projects/tuist/features/step_definitions/shared/tuist.rb
Labels: domain:cloud

#4274 Resend invite
  .vscode/extensions.json
  projects/cloud/.vscode/settings.json
  projects/cloud/app/frontend/__tests__/OrganizationStore.test.ts
  projects/cloud/app/frontend/components/pages/invitations/AcceptInvitationPage.tsx
  projects/cloud/app/frontend/components/pages/organization/OrganizationPage.tsx
  projects/cloud/app/frontend/components/pages/organization/OrganizationPageStore.ts
  projects/cloud/app/frontend/components/pages/organization/__tests__/OrganizationPageStore.test.ts
  projects/cloud/app/frontend/components/pages/remote-cache/__tests__/RemoteCachePageStore.test.ts
  projects/cloud/app/frontend/graphql/InvitationQuery.graphql
  projects/cloud/app/frontend/graphql/InviteUser.graphql
  projects/cloud/app/frontend/graphql/OrganizationQuery.graphql
  projects/cloud/app/frontend/graphql/PendingInvitation.graphql
  projects/cloud/app/frontend/graphql/ResendInvite.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/frontend/models/OrganizationDetail.ts
  projects/cloud/app/frontend/models/PendingInvitation.ts
  projects/cloud/app/frontend/models/UserBasicInfo.ts
  projects/cloud/app/frontend/models/index.ts
  projects/cloud/app/frontend/stores/OrganizationStore.ts
  projects/cloud/app/graphql/mutations/invite_user.rb
  projects/cloud/app/graphql/mutations/resend_invite.rb
  projects/cloud/app/graphql/types/invitation_type.rb
  projects/cloud/app/graphql/types/mutation_type.rb
  projects/cloud/app/graphql/types/organization_type.rb
  projects/cloud/app/models/organization.rb
  projects/cloud/app/services/invitation_accept_service.rb
  projects/cloud/app/services/organization_invite_service.rb
  projects/cloud/db/migrate/20220323204451_add_invitation_index.rb
  projects/cloud/db/schema.rb
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/services/invitation_accept_service_test.rb
  projects/cloud/test/services/organization_invite_service_test.rb
Labels: domain:cloud

#4275 Fix redirecting after sign in
  projects/cloud/app/controllers/users/omniauth_callbacks_controller.rb
  projects/cloud/app/controllers/users/registrations_controller.rb
  projects/cloud/app/controllers/users/sessions_controller.rb
Labels: domain:cloud

#4279 Cloud/project token
  projects/cloud/app/controllers/cache_controller.rb
  projects/cloud/app/frontend/components/pages/remote-cache/RemoteCachePage.tsx
  projects/cloud/app/frontend/components/pages/remote-cache/RemoteCachePageStore.ts
  projects/cloud/app/frontend/components/pages/remote-cache/__tests__/RemoteCachePageStore.test.ts
  projects/cloud/app/frontend/graphql/ProjectDetail.graphql
  projects/cloud/app/frontend/graphql/ProjectQuery.graphql
  projects/cloud/app/frontend/graphql/types.ts
  projects/cloud/app/frontend/models/Project.ts
  projects/cloud/app/frontend/stores/ProjectStore.ts
  projects/cloud/app/frontend/utilities/copyToClipboard.ts
  projects/cloud/app/graphql/types/project_type.rb
  projects/cloud/app/services/cache_service.rb
  projects/cloud/jest.config.js
  projects/cloud/schema.graphql
  projects/cloud/schema.json
  projects/cloud/test/services/cache_service_test.rb
Labels: domain:cloud

#4281 Fetch project only if necessary for verifying upload
  projects/cloud/app/services/cache_service.rb
Labels: domain:cloud

#4280 Set up cloud token for running meta tuist
  .github/workflows/meta-tuist.yml
Labels: domain:cloud

#4289 Hide dashboard
  projects/cloud/app/frontend/components/App.tsx
  projects/cloud/app/frontend/components/Home.tsx
Labels: domain:cloud

#4290 Set up initial docs for tuist cloud
  projects/docs/docs/cloud/get-started.md
Labels: domain:cloud

#4282 Disable autogenerated schemes for SwiftPackageManager dependencies. Configure schemes from your `Project.swift` or from Xcode in case you need them
  CHANGELOG.md
  Sources/ProjectDescription/TargetScript.swift
  Sources/TuistDependencies/SwiftPackageManager/Utils/PackageInfoMapper.swift
  Sources/TuistDependenciesTesting/DependenciesGraph/DependenciesGraph+TestData.swift
  Sources/TuistGenerator/Generator/BuildPhaseGenerator.swift
  Sources/TuistGenerator/Generator/ProjectFileElements.swift
  Sources/TuistGenerator/Mappers/AutogeneratedSchemesProjectMapper.swift
  Sources/TuistGenerator/Mappers/TargetActionDisableShowEnvVarsProjectMapper.swift
  Sources/TuistGraph/Graph/GraphDependency.swift
  Sources/TuistKit/Services/BuildService.swift
  Sources/TuistLoader/Loaders/ManifestLoader.swift
  Sources/TuistLoader/Models+ManifestMappers/Headers+ManifestMapper.swift
  Sources/TuistSupport/System/System.swift
  Tests/TuistDependenciesTests/SwiftPackageManager/Utils/PackageInfoMapperTests.swift
  projects/docs/docs/guides/third-party-dependencies.md
Labels: changelog:changed

#4311 Update links to tuist cloud
  projects/docs/docs/cloud/get-started.md
Labels: domain:cloud

#4306 Temporarily hide GitLab as social login
  projects/cloud/app/frontend/server_side_components/Login.tsx
Labels: domain:cloud

#4309 Fix SwiftPackageManager dependencies mapping when it supports Mac Catalyst
  Sources/TuistDependencies/SwiftPackageManager/Utils/PackageInfoMapper.swift
  Tests/TuistDependenciesTests/SwiftPackageManager/Utils/PackageInfoMapperTests.swift
Labels: changelog:fixed

#4310 Add info about how to use S3 buckets
  projects/cloud/app/frontend/components/TuistCloudAppProvider.tsx
  projects/cloud/app/frontend/components/pages/remote-cache/RemoteCachePage.tsx
Labels: domain:cloud

#4323 Fix importing `ViewInspector` from `Dependencies.swift`
  Sources/TuistDependencies/SwiftPackageManager/Utils/PackageInfoMapper.swift
  Tests/TuistDependenciesTests/SwiftPackageManager/Utils/PackageInfoMapperTests.swift
Labels: changelog:fixed
