Repository tuist/tuist, pull requests merged in 2025-10, with the labels that each got.

#8349 Translations update from Weblate
  docs/.vitepress/strings/es.json
Labels: size:XS

#8350 Bring back llms.txt to the handbook and the documentation site
  docs/.vitepress/config.mjs
  docs/mise.toml
  docs/package.json
  handbook/.vitepress/config.mjs
  handbook/mise.toml
  handbook/package.json
  pnpm-lock.yaml
  server/mise.toml
Labels: type:enhancement, p2, size:M, domain:docs, lgtm

#8352 feat(docs): add Cloudflare Pages middleware for text/plain requests
  docs/.vitepress/config.mjs
  docs/.vitepress/functions/_middleware.js
  handbook/.vitepress/config.mjs
  handbook/.vitepress/functions/_middleware.js
Labels: type:enhancement, size:M, domain:docs, lgtm

#8351 Translations update from Weblate
  docs/docs/es/index.md
  docs/docs/ja/index.md
  docs/docs/ko/index.md
  docs/docs/pt/index.md
  docs/docs/ru/index.md
  docs/docs/zh/index.md
Labels: size:XL, domain:docs

#8356 feat(server,cli): add CI run reference to build runs
  .rgignore
  2025.10.02-ci-run-links.gif
  Package.swift
  Tuist/ProjectDescriptionHelpers/Module.swift
  cli/Sources/TuistCI/CIController.swift
  cli/Sources/TuistCI/CIInfo.swift
  cli/Sources/TuistCI/CIProvider.swift
  cli/Sources/TuistKit/Services/Inspect/InspectBuildCommandService.swift
  cli/Sources/TuistServer/OpenAPI/Types.swift
  cli/Sources/TuistServer/OpenAPI/server.yml
  cli/Sources/TuistServer/Services/CreateBuildService.swift
  cli/Tests/TuistCITests/CIControllerTests.swift
  cli/Tests/TuistKitTests/Services/Inspect/InspectBuildCommandServiceTests.swift
  server/assets/app/css/pages/build_run.css
  server/lib/tuist/runs.ex
  server/lib/tuist/runs/build.ex
  server/lib/tuist_web/controllers/api/runs_controller.ex
  server/lib/tuist_web/live/build_run_live.html.heex
  server/priv/marketing/changelog/2025.10.02-ci-run-links.md
  server/priv/repo/migrations/20251002081758_add_ci_metadata_to_build_runs.exs
  server/priv/static/marketing/images/changelog/2025.10.02-ci-run-links.gif
  server/test/support/tuist_test_support/fixtures/runs_fixtures.ex
  server/test/tuist/runs/build_test.exs
  server/test/tuist/runs_test.exs
  server/test/tuist_web/controllers/api/runs_controller_test.exs
  server/test/tuist_web/live/build_run_live_test.exs
Labels: type:enhancement, size:XXL, lgtm

#8358 feat(cli): Make implicit import detection work with buildable folders
  cli/Sources/TuistKit/Services/TargetImportsScanner.swift
  cli/Tests/TuistKitTests/ImportFinder/TargetImportsScannerTests.swift
Labels: type:enhancement, size:M, lgtm, domain:cli

#8357 fix(cli): path to the PackageDescription in projects generated by tuist edit
  cli/Sources/TuistKit/ProjectEditor/ProjectEditorMapper.swift
  cli/Tests/TuistKitTests/ProjectEditor/ProjectEditorMapperTests.swift
Labels: type:bug, p2, size:XS, lgtm, beta:Xcode26, domain:cli

#8359 chore(server): Create the command_events table on ClickHouse when running the migration in on-premise environments
  server/priv/ingest_repo/migrations/20250702083710_create_command_events_clickhouse.exs
Labels: type:enhancement, size:XS, lgtm

#8361 feat(docs): Markdown translation update from Weblate
  docs/docs/es/index.md
Labels: p2, size:M, domain:docs, lgtm

#8364 fix(docs): Update wrong API reference in insights.md
  docs/docs/en/guides/features/insights.md
Labels: size:XS, domain:docs, lgtm

#8373 docs: fix typos documentation [issue 8371]
  cli/Fixtures/app_with_local_spm_module_with_remote_dependencies/README.md
  cli/Fixtures/app_with_spm_xcframework_dependency/README.md
  docs/docs/en/guides/features/projects/inspect/implicit-dependencies.md
  docs/docs/es/guides/features/projects/inspect/implicit-dependencies.md
  docs/docs/ja/guides/features/projects/inspect/implicit-dependencies.md
  docs/docs/pt/guides/features/projects/inspect/implicit-dependencies.md
  docs/docs/zh/guides/features/projects/inspect/implicit-dependencies.md
Labels: p2, size:S, domain:docs, lgtm

#8378 fix(docs): Add admonition syntax validation and fix invalid keywords
  docs/.vitepress/config.mjs
  docs/.vitepress/validate-admonitions.mjs
  docs/docs/ar/guides/features/projects/cost-of-convenience.md
  docs/docs/ar/guides/features/projects/editing.md
  docs/docs/ar/guides/features/projects/tma-architecture.md
  docs/docs/ar/guides/server/self-host/install.md
  docs/docs/en/guides/features/projects/cost-of-convenience.md
  docs/docs/en/guides/features/projects/editing.md
  docs/docs/en/guides/features/projects/tma-architecture.md
  docs/docs/en/guides/server/self-host/install.md
  docs/docs/es/guides/features/projects/cost-of-convenience.md
  docs/docs/es/guides/features/projects/editing.md
  docs/docs/es/guides/features/projects/tma-architecture.md
  docs/docs/es/guides/server/self-host/install.md
  docs/docs/ja/guides/features/projects/cost-of-convenience.md
  docs/docs/ja/guides/features/projects/editing.md
  docs/docs/ja/guides/features/projects/tma-architecture.md
  docs/docs/ja/guides/server/self-host/install.md
  docs/docs/ko/cli/logging.md
  docs/docs/ko/guides/features/projects/cost-of-convenience.md
  docs/docs/ko/guides/features/projects/editing.md
  docs/docs/ko/guides/features/projects/tma-architecture.md
  docs/docs/ko/guides/server/self-host/install.md
  docs/docs/pt/guides/features/projects/cost-of-convenience.md
  docs/docs/pt/guides/features/projects/editing.md
  docs/docs/pt/guides/features/projects/tma-architecture.md
  docs/docs/pt/guides/server/self-host/install.md
  docs/docs/ru/cli/logging.md
  docs/docs/ru/guides/features/projects/cost-of-convenience.md
  docs/docs/ru/guides/features/projects/editing.md
  docs/docs/ru/guides/features/projects/inspect/implicit-dependencies.md
  docs/docs/ru/guides/features/projects/tma-architecture.md
  docs/docs/ru/guides/server/self-host/install.md
  docs/docs/zh/guides/features/projects/cost-of-convenience.md
  docs/docs/zh/guides/features/projects/editing.md
  docs/docs/zh/guides/features/projects/tma-architecture.md
  docs/docs/zh/guides/server/self-host/install.md
Labels: size:L, domain:docs

#8380 feat(docs): Add locale pages validation
  docs/.vitepress/check-locale-pages.mjs
  docs/.vitepress/config.mjs
  docs/docs/es/contributors/releases.md
  docs/docs/es/guides/features/qa.md
  docs/docs/es/references/examples.md
  docs/docs/ja/contributors/releases.md
  docs/docs/ja/guides/features/qa.md
  docs/docs/ja/references/examples.md
  docs/docs/ko/contributors/releases.md
  docs/docs/ko/guides/features/qa.md
  docs/docs/ko/references/examples.md
  docs/docs/pt/contributors/releases.md
  docs/docs/pt/guides/features/qa.md
  docs/docs/pt/references/examples.md
  docs/docs/ru/contributors/releases.md
  docs/docs/ru/guides/features/qa.md
  docs/docs/ru/references/examples.md
  docs/docs/zh/contributors/releases.md
  docs/docs/zh/guides/features/qa.md
  docs/scripts/check-locales.mjs
Labels: size:XXL

#8386 feat(docs): Markdown translation update from Weblate
  docs/docs/es/contributors/get-started.md
  docs/docs/es/guides/examples/generated-projects.md
  docs/docs/es/guides/features/bundle-size.md
  docs/docs/es/guides/features/registry/continuous-integration.md
  docs/docs/es/guides/integrations/continuous-integration.md
  docs/docs/es/guides/integrations/gitforge/github.md
  docs/docs/es/guides/quick-start/add-dependencies.md
  docs/docs/es/guides/quick-start/gather-insights.md
  docs/docs/es/guides/quick-start/get-started.md
  docs/docs/es/guides/quick-start/install-tuist.md
Labels: size:S

#8388 feat(docs): Strings translation update from Weblate
  docs/.vitepress/strings/ar.json
Labels: type:enhancement, p2, size:XL, domain:docs, lgtm

#8389 feat(docs): Markdown translation update from Weblate
  docs/docs/pl/index.md
Labels: size:S, domain:docs, lgtm

#8363 feat(cli): add bundle type
  .github/workflows/server.yml
  Package.resolved
  Package.swift
  cli/Sources/TuistServer/OpenAPI/Client.swift
  cli/Sources/TuistServer/OpenAPI/Types.swift
  cli/Sources/TuistServer/OpenAPI/server.yml
  cli/Sources/TuistServer/Services/CreateBundleService.swift
  cli/Sources/TuistServer/Services/ListBundlesService.swift
  cli/Tests/TuistCoreTests/MetadataProviders/XCFrameworkSignatureProviderIntegrationTests.swift
  cli/Tests/TuistKitTests/Services/Inspect/InspectBundleCommandServiceTests.swift
  cli/Tests/TuistLoaderTests/Loaders/Mocks/MockFileSystem.swift
  server/lib/tuist/bundles.ex
  server/lib/tuist/bundles/bundle.ex
  server/lib/tuist_web/controllers/api/bundles_controller.ex
  server/lib/tuist_web/live/bundle_live.ex
  server/lib/tuist_web/live/bundle_live.html.heex
  server/lib/tuist_web/live/bundles_live.ex
  server/lib/tuist_web/live/bundles_live.html.heex
  server/priv/repo/migrations/20251002133935_add_type_to_bundles.exs
  server/priv/repo/migrations/20251002135728_backfill_bundle_types.exs
  server/test/support/tuist_test_support/fixtures/bundles_fixtures.ex
  server/test/tuist/bundles/bundle_test.exs
  server/test/tuist/bundles_test.exs
  server/test/tuist_web/controllers/api/bundles_controller_test.exs
Labels: type:enhancement, p2, size:XL, lgtm, domain:cli

#8369 fix(cli): Ensure buildableFolder resources are handled with project-defined resourceSynthesizers.
  cli/Sources/TuistGenerator/Mappers/SynthesizedResourceInterfaceProjectMapper.swift
  cli/Tests/TuistGeneratorTests/ProjectMappers/SynthesizedResourceInterfaceProjectMapperTests.swift
Labels: type:bug, domain:generated-projects, size:L, lgtm

#8392 feat(docs): Markdown translation update from Weblate
  docs/docs/ar/guides/integrations/gitforge/github.md
  docs/docs/ar/guides/server/self-host/install.md
  docs/docs/es/guides/integrations/gitforge/github.md
  docs/docs/es/guides/server/self-host/install.md
  docs/docs/ja/guides/integrations/gitforge/github.md
  docs/docs/ja/guides/server/self-host/install.md
  docs/docs/ko/guides/integrations/gitforge/github.md
  docs/docs/ko/guides/server/self-host/install.md
  docs/docs/pl/guides/integrations/gitforge/github.md
  docs/docs/pl/guides/server/self-host/install.md
  docs/docs/pt/guides/integrations/gitforge/github.md
  docs/docs/pt/guides/server/self-host/install.md
  docs/docs/ru/guides/integrations/gitforge/github.md
  docs/docs/ru/guides/server/self-host/install.md
  docs/docs/zh/guides/integrations/gitforge/github.md
  docs/docs/zh/guides/server/self-host/install.md
Labels: type:enhancement, size:L, domain:docs

#8394 fix(server): name for created by of VCS connection
  server/lib/tuist_web/live/integrations_live.ex
Labels: type:bug, p2, size:XS, domain:integrations, lgtm

#8398 fix(server): fix http request buckets
  server/lib/tuist/http/prom_ex_plugin.ex
Labels: type:bug, size:S, lgtm

#8399 chore(server): clean-up after backfilling VCS connections
  server/lib/tuist/github/app.ex
  server/lib/tuist/migrations/backfill_vcs_connections.ex
  server/lib/tuist/projects/project.ex
Labels: size:L, domain:integrations, lgtm

#8397 fix(cli): don't convert script input and output file list paths relative to manifest paths or with build variables to absolute
  cli/Fixtures/ios_app_with_actions/App/.package.resolved
  cli/Fixtures/ios_app_with_actions/App/Framework/Framework.swift
  cli/Fixtures/ios_app_with_actions/App/Project.swift
  cli/Fixtures/ios_app_with_actions/App/inputs.xcfilelist
  cli/Sources/TuistHasher/TargetScriptsContentHasher.swift
  cli/Sources/TuistLoader/Models+ManifestMappers/TargetAction+ManifestMapper.swift
  cli/Tests/TuistHasherTests/TargetScriptsContentHasherTests.swift
  cli/Tests/TuistLoaderTests/Models+ManifestMappers/TargetScript+ManifestMapperTests.swift
Labels: size:L, lgtm, domain:cli

#8395 feat(infra): add grafana alloy
  infra/grafana-alloy/Dockerfile
  infra/grafana-alloy/config.alloy
  render.yaml
Labels: type:enhancement, size:M, lgtm

#8404 fix(ci): cache acceptance tests hanging
  .github/workflows/cli-cache-ee.yml
Labels: size:XS

#8409 feat(docs): Markdown translation update from Weblate
  docs/docs/ar/guides/features/projects/dependencies.md
  docs/docs/es/guides/features/projects/dependencies.md
  docs/docs/ja/guides/features/projects/dependencies.md
  docs/docs/ko/cli/logging.md
  docs/docs/ko/guides/features/projects/dependencies.md
  docs/docs/pl/guides/features/projects/dependencies.md
  docs/docs/pt/guides/features/projects/dependencies.md
  docs/docs/ru/guides/features/projects/dependencies.md
  docs/docs/zh/guides/features/projects/dependencies.md
Labels: size:L, domain:docs, lgtm

#8411 fix(server): make bundle type optional
  cli/Sources/TuistServer/OpenAPI/Client.swift
  cli/Sources/TuistServer/OpenAPI/Types.swift
  cli/Sources/TuistServer/OpenAPI/server.yml
  cli/Sources/TuistServer/Services/ListBundlesService.swift
  server/lib/tuist_web/controllers/api/bundles_controller.ex
  server/test/tuist_web/controllers/api/bundles_controller_test.exs
Labels: type:bug, lgtm

#8416 feat(server): allow users with ops access to do any :read operations
  server/lib/tuist/authorization.ex
  server/lib/tuist/authorization/checks.ex
  server/test/tuist/authorization/checks_test.exs
Labels: type:enhancement, size:M, lgtm
